.classesSection {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.variablesContainer {
    width: 50%;
    padding: 10% 0 10% 15%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.variablesContainer > ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.variablesContainer > ul > li {
    position: relative;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 300ms;

    cursor: pointer;
}

.variablesContainer .variableSelected {
    position: relative;
    color: #000000;
    transition-duration: 300ms;
}

.variablesContainer li:before {
    position: absolute;
    left: -3.3rem;
    content: "Yoga - ";
    background: linear-gradient(to top, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;

    transform: translateX(1rem);
    opacity: 0;
    transition-duration: 300ms;
}

.variablesContainer li.variableSelected:before  {
    position: absolute;
    left: -3.3rem;
    content: "Yoga - ";
    background: linear-gradient(to top, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
    transform: translateX(0);
    opacity: 1;
}

.variablesContainer img {
    height: 80%;
    position: absolute;
    right: 5rem;
    z-index: 9;
}

.informationContainer {
    width: 50%;
    padding: 10% 15% 10% 0;

    display: flex;
    flex-direction: column;
}

.informationContainer h1 {
    font-size: 2.7rem;
    margin-top: -0.7rem;
    background: linear-gradient(to top, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
}

.informationContainer h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.informationContainer p {
    margin-bottom: 1.5rem;
}

.textContainer {
    opacity: 1;
    transition-duration: 300ms;
    transform: translateX(0) scale(1);
}

.textContainerEnter {
    opacity: 0;
    transform: translateX(-3rem);
}

.textContainerExit {
    opacity: 0;
    transform: scale(0.8);
}

.orderButton {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #f78e6a;
    border-radius: 10rem;
    border: none;
    outline: none;
    max-width: 10rem;
    margin-right: auto;
    cursor: pointer;
    transition-duration: 500ms;
}

.plusIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #fff;
    transition-duration: 500ms;
}

.orderButton > span {
    margin-right: 1rem;
    color: #ffffff;
    transition-duration: 300ms;
}

.orderButton > .plusIcon::before {
    position: absolute;
    content: "";
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    background: linear-gradient(to right, #f78e6a, #fc66a2);
    transition-duration: 500ms;
}

.orderButton > .plusIcon::after {
    z-index: 10;
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff);
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    transition-duration: 300ms;
}

.orderButton:hover {
    background: #ffffff;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.orderButton:hover .plusIcon {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.orderButton:hover > span {
    background: linear-gradient(to right, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nextClassButton {
    font-size: 0;
    border: 0;
    outline: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    transition-duration: 500ms;
}

.nextClassButton::before {
    position: absolute;
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    background: linear-gradient(#f78e6a, #fc66a2);
    transition-duration: 500ms;
}

.nextClassButton:hover::before {
    content: "";
    display: block;
    opacity: 0;
}

.nextClassButton::after {
    z-index: 10;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;

    border-right: 0.4rem solid #fff;
    transition-duration: 300ms;
}

.nextClassButton:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.nextClassButton:hover::after {
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
    border-right: 0.4rem solid #fc66a2;
}

.prevClassButton {
    margin-left: 0.5rem;
}

.prevClassButton::after {
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
    border-left: 0.4rem solid #fff;
    border-right: none;
}

.prevClassButton:hover::after {
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
    border-left: 0.4rem solid #fc66a2;
    border-right: none;
}

@media screen and (max-width: 1024px) {
    .classesSection {
        flex-direction: row-reverse;
        padding: 1.5rem;
    }

    .informationContainer {
        padding: 8% 0;
        width: 60%;
    }

    .variablesContainer {
        width: 40%;
        padding: 8% 0;
        justify-content: flex-end;
    }

    .variablesContainer img {
        height: 50%;
        transform: scale(-1, 1);
        bottom: 2rem;
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .classesSection {
        padding: 1.25rem;
    }

    .informationContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding: 3rem 0;
        width: 100%;
    }

    .textContainer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}