.classesSection {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.variablesContainer {
    width: 50%;
    padding: 10rem 0 10rem 10rem;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.variablesContainer > ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.variablesContainer > ul > li {
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.variablesContainer .variableSelected {
    position: relative;
    color: #000000;
}

.variablesContainer .variableSelected:before {
    position: absolute;
    left: -3.3rem;
    content: "Yoga - ";
    background: linear-gradient(to top, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
}

.variablesContainer img {
    height: 80%;
    position: absolute;
    right: 5rem;
    z-index: 9;
}

.informationContainer {
    width: 50%;
    padding: 10rem 10rem 10rem 0;

    display: flex;
    flex-direction: column;
}

.informationContainer h1 {
    font-size: 2.7rem;
    background: linear-gradient(to top, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
}

.informationContainer h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.informationContainer p {
    margin-bottom: 1.5rem;
}

.orderButton {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #f78e6a;
    border-radius: 10rem;
    border: none;
    outline: none;
    margin-right: auto;
    cursor: pointer;
    transition-duration: 500ms;
}

.plusIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #fff;
    transition-duration: 500ms;
}

.orderButton > span {
    margin-right: 1rem;
    color: #ffffff;
    transition-duration: 300ms;
}

.orderButton > .plusIcon::before {
    position: absolute;
    content: "";
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    background: linear-gradient(to right, #f78e6a, #fc66a2);
    transition-duration: 500ms;
}

.orderButton > .plusIcon::after {
    z-index: 10;
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff);
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    transition-duration: 300ms;
}

.orderButton:hover {
    background: #ffffff;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.orderButton:hover .plusIcon {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.orderButton:hover > span {
    background: linear-gradient(to right, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
    .classesSection {
        flex-direction: row-reverse;
        padding: 1.5rem;
    }

    .informationContainer {
        padding: 8rem 0;
        width: 60%;
    }

    .variablesContainer {
        width: 40%;
        padding: 8rem 0;
        justify-content: flex-end;
    }

    .variablesContainer img {
        height: 50%;
        transform: scale(-1, 1);
        bottom: 2rem;
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .classesSection {
        padding: 1.25rem;
    }

    .informationContainer {
        padding: 8rem 0;
        width: 100%;
    }

    .variablesContainer {
        display: none;
    }
}