.orderFormSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.imageContainer {
    width: 50%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    position: absolute;
    height: 60%;
}

.formContainer {
    display: flex;
    flex-direction: column;

    max-width: 435px;
}

.formContainer h1 {
    font-size: 2.7rem;
    font-weight: normal;
    line-height: 2.7rem;
    margin-bottom: 2rem;
}

.formContainer form p {
    font-weight: normal;
    font-size: 0.7rem;
    margin-top: 0.7rem;
}

.discount {
    font-size: 4rem;
    background: linear-gradient(to right, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    background: none;
    outline: none;
    width: 100%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

form > div {
    position: relative;
    margin-bottom: 1.2rem;
}

form > div label {
    position: absolute;
    left: 0;
    color: rgba(0, 0, 0, 0.6);
    cursor: text;

    transition-duration: 300ms;
}

input:focus,
input:not(:placeholder-shown){
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label{
    position: absolute;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 1);
    transform: translateY(-1rem);
}

.submitButton {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #f78e6a;
    /*transparent shadow to prevent weird behavior of other elements */
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    border-radius: 10rem;
    border: none;
    outline: none;
    margin-right: auto;
    cursor: pointer;
    transition-duration: 500ms;
}

.plusIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #fff;
    transition-duration: 500ms;
}

.submitButton > span {
    margin-right: 1rem;
    color: #ffffff;
    transition-duration: 300ms;
}

.submitButton > .plusIcon::before {
    position: absolute;
    content: "";
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    background: linear-gradient(to right, #f78e6a, #fc66a2);
    transition-duration: 500ms;
}

.submitButton:hover {
    background: #ffffff;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.submitButton:hover .plusIcon {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.submitButton:hover > span {
    background: linear-gradient(to right, #f78e6a, #fc66a2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
    .orderFormSection {
        flex-direction: row-reverse;
    }

    .formContainer {
        margin-left: 1.5rem;
        width: 60%;
        max-width: 100%;
    }

    .imageContainer img {
        height: 50%;
        right: -6rem;
        transform: scale(-1, 1);
    }
}

@media screen and (max-width: 500px) {
    .orderFormSection {
        flex-direction: row-reverse;
    }

    .formContainer {
        margin: 0 1.25rem;
        width: 100%;
        max-width: 100%;
    }
}